body {
    margin: 0;

    font-family: Poppins, Arial;
    font-size: 18px;
    background-color: #E6E6E6;
}

p a, li a, .footer-container a {
    transition-duration: 0.2s;
}

p a:hover, li a:hover, .footer-container a:hover {
    font-weight: 600;
}