body {
  font-family: 'Montserrat', sans-serif;
  font-size: 9px;
}


/*ACM@UCR PRESENTS*/
.top-text {
  margin-top: 20px;
  text-align: center;
  letter-spacing:0.5em;
  text-indent: 0.5em;
 /* color: white;*/
}

/*UCRPC*/
#huge-title {
  font-size: 17.66em;
  letter-spacing:0.5em;
  text-indent: 0.5em;
  margin: auto;
  /*color: white;*/
  font-weight: 400;
}

.textbox {
  margin-left: 100px;
  margin-right: 100px;
}

.about {
  height: 100vh;
}