body {
  font-family: 'Montserrat', sans-serif;
  font size: 10px;
  /*background-color: black; */
}

/*html {
  font-size: 10px;
}
@media screen and (min-width: 1441px) {
  html {
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  }
@media screen and (min-width: 1000px) {
  html {
    font-size: 12px;
  }
}*/


/*ACM@UCR PRESENTS*/
.top-text {
  font-size: 1.8em;
  margin-top: 20vh;
  text-align: center;
  letter-spacing:0.5em;
  text-indent: 0.5em;
  /*color: white;*/
}

/*UCRPC*/
#huge-title {
  font-size: 13em;
  letter-spacing:0.5em;
  text-indent: 0.5em;
  margin: auto;
  /*color: white;*/
  font-weight: 500;
}

.textbox {
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1em;
}

li {
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1em;
}

.about {
  background: red;
}

.rules {
  background: orange;
}

.faq {
  background: yellow;
}

.practice-info {
  background: green;
}

li {
  margin-left: 3em;
  margin-right: 3em;
  font-size: 2em;
}

.footer {
  padding: 48px;
}

#rocket-icon {
  width: 24px;
  height: auto;
}
