body {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}


/*ACM@UCR PRESENTS*/
.top-text {
  font-size: 1.8em;
  margin-top: 20px;
  text-align: center;
  letter-spacing:0.5em;
  text-indent: 0.5em;

 /* color: white;*/
}

/*UCRPC*/
#huge-title {
  font-size: 14.4em;
  letter-spacing:0.5em;
  text-indent: 0.5em;
  margin: auto;
  /*color: white;*/
  font-weight: 500;
}

.textbox {
  margin-left: 3em;
  margin-right: 3em;
  font-size: 2em;
}

.about {
  background: red;
}

.rules {
  background: orange;
}

.faq {
  background: yellow;
}

.practice-info {
  background: green;
}

li {
  margin-left: 3em;
  margin-right: 3em;
  font-size: 2em;
}

.footer {
  padding: 48px;
}

#rocket-icon {
  width: 24px;
  height: auto;
}