body {
  font-family: 'Work Sans', sans-serif;
}

.jumbotron {
  height: 100vh;
}

#big-text {
  text-align: center;
  font-family: 'Audiowide', cursive;
  margin-top: 25vh;
}

#apply-btn {
}

.blurb {
  font-family: 'Audiowide', cursive;
}

#faq {
  font-family: 'Audiowide', cursive;
}