body {
  font-family: 'Work Sans', sans-serif;
}

.jumbotron {
  height: 100vh;
  margin-bottom: 0px;
}

#big-text {
  text-align: center;
  font-family: 'Audiowide', cursive;
  margin-top: 25vh;
}

#apply-btn {
}

#second-jumbotron {
  background-color: white;
}

.blurb {
  font-family: 'Audiowide', cursive;
}

#faq {
  font-family: 'Audiowide', cursive;
}

#acm {
  text-align: center;
}